/* set everything to 0 */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	font: 62.5% Arial, Helvetica, Geneva, sans-serif;

	background-color: #e8e8e8;
}

span.clear {
	clear: both;
	display: block;
	visibility: hidden;
}

span.bold {
	font-weight: bold;
}

/* start layout */
div#wrap {
	width: 1190px;
	margin: 100px auto;
}

div.information {
	color: #858585;
	padding: 0 0 15px 5px;
	background-color: #E8E8E8;
}

nav, #two-d-preview,
div#three-d-preview,
canvas#twodpanel {
	float: left;
}

nav {
	width: 260px;
	margin-right: 30px;
}

#two-d-preview {
	width: 570px;
	margin-right: 30px;
	background-color: #ffffff;
}

div#three-d-preview {
	width: 300px;
}

/* navigation */
nav h1 {
	font-size: 2em;
	font-weight: bold;
	font-family: "Century Gothic", "Avant Garde", Arial, Helvetica, Geneva, sans-serif;

	color: #FFAD53;
	padding: 14px 20px;
	background-color: #ffffff;
	border-top: 2px solid #BCBCBC;
}

nav .description,
nav div.options,
div#three-d-preview a,
div#wrap div.information,
div#info-message,
#delete-item {
	font-size: 1.3em;
	font-style: italic;
	line-height: 1.5;
	font-family: Georgia, serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav .description {
	color: #858585;
	display: block;
	text-decoration: none;
	background-color: #ffffff;

	padding: 0 20px 15px 20px;
}

nav div.options {
	color: #ffffff;
	background-color: #BCBCBC;
	padding: 15px 20px 13px 20px;
}

nav div.options:last-of-type {
	padding: 15px 20px;
}

/* navigation options */
nav div.options ul {
	padding: 10px 0;
	margin: 0 -10px -20px -10px;
}

nav div.options ul, ul li {
	list-style: none;
}

nav div.options ul li {
	display: inline-block;
}

nav div.options a span {
	width: 46px;
	height: 46px;
	display: block;
	margin: 0 auto 3px auto;

	border-radius: 4px;
	background-color: #ffffff;
}

/* Button icons */
/* Push and rocker buttons */
nav div.options a#small-push-button span { background-image: url(../img/ui/push.gif); }
nav div.options a#big-push-button span { background-image: url(../img/ui/push.gif); }
nav div.options a#rocker-button span { background-image: url(../img/ui/rocker.gif); }

/* Sliders */
nav div.options a#slider-2-positions span { background-image: url(../img/ui/slider.gif); }
nav div.options a#slider-3-positions span { background-image: url(../img/ui/slider.gif); }
nav div.options a#slider-5-positions span { background-image: url(../img/ui/slider.gif); }

nav div.options li a:link,
nav div.options li a:visited {
	width: 75px;
	display: block;

	color: #ffffff;
	font-size: 1em;
	font-style: normal;
	text-align: center;
	margin-bottom: 20px;
	text-decoration: none;
	font-family: Georgia, serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav div.options li a:hover,
nav div.options li a:active,
nav div.options li a:focus {
	text-decoration: underline;
}

/* 3d preview */
div#three-d-panel,
div#three-d-userstudy {
	width: 300px;
	height: 270px; /* 4:3 format */
	background-color: #ffffff;
}

div#three-d-userstudy {
	margin-top: 112px;
	background-image: url(userstudy.png);
}

div#three-d-panel div#status-download {
	width: 300px;
}

div#three-d-panel div#status-download select {
	width: 100%;
	margin-top: 5px;
}

div#three-d-preview a:link,
div#three-d-preview a:visited,
#delete-item:link,
#delete-item:visited,
div#three-d-preview button {
	width: 85%;
	display: block;
	padding: 11px 0;
	margin: 25px auto 0 auto;
	border-radius: 300px;
	font-size: 1.3em;

	color: #858585;
	text-align: center;
	text-decoration: none;
	background-color: #ffffff;
	font-style: italic;
	font-family: Georgia, serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div#three-d-preview a:hover,
div#three-d-preview a:active,
div#three-d-preview a:focus,
#delete-item:hover,
#delete-item:active,
#delete-item:focus {
	color: #ffffff;
	background-color: #FFAD53;
}

/* error messages */
div#info-message {
	width: 200px;
	display: block;
	top: 20px;
	left: auto;
	right: 20px;
	position: fixed;
	padding: 15px 20px;
	border-radius: 5px;


	color: #ffffff;
	font-weight: bold;
	/* visibility: hidden; */
	background-color: #FF6060;
}

/* User study timer */
#timer {
	width: 350px;
	padding: 12px;
	border-radius: 5px;
	text-align: center;
	background-color: #ffffff;
	margin: 25px auto -70px auto;
}

#timer a:link,
#timer a:visited {
	width: 30%;
	display: inline-block;
	padding: 11px 0;
	margin: 15px 6px 13px auto;
	border-radius: 300px;
	font-size: 1.3em;

	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #c8c8c8;
	font-style: italic;
	font-family: Georgia, serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#timer a:hover,
#timer a:active,
#timer a:focus {
	background-color: #FFAD53;
}

#timer div {
	width: 20%;
	color: #777777;
	font-size: 1.5em;
	padding: 0 20px 0 20px;
	display: inline-block;
	font-family: Georgia, serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
